<h1>Help Make this App Better!</h1>
<p>This app was built in a four-hour-flurry during the Capitol Code Challenge. To take this app to the next level, we'd love your help to crowd-source the information behind this app.</p>
<p><strong>Visit the <%= link_to "Minnesota Legistlature Social Media Directory" %> and add social media links for your legistlator or any legistlator.</strong></p>
<p>We'll ocassionally refresh this app to incorporate new additions to the spreadsheet.</p>
<strong>Thanks for your help!</strong>